@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
html {
  background: #07051B url(images/bg.jpg)  no-repeat center center;
  min-height: 100%;
	background-size: cover;
}

h1 {
  color:#fff;
  font-family: 'Press Start 2P';
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  opacity: 100%;
}

.header {
  width: 100%;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.nav {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
}

.nav__link {
  margin: 0 20px;
  color: #ffffff;
  font-family: 'Press Start 2P', cursive;
  text-decoration: none;
  opacity: 0.8;
  transition: opacity 0.2s linear;
}

.stick {
  width: 2px;
  height: 50px;
}

.nav__link:hover {
  opacity: 1;
}

.content {
  display: flex;
  flex-direction: row;
  justify-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(22, 31, 104, 0.75); 
  margin: 20px 0;
  border-radius: 25px;
}

.info {
  max-height: 80%;
  color:#fff;
  padding: 0 30px;
  font-family: Gabriola;
  font-size: 35px;
}

.ava {
  max-height: 400px;
  height: 100%;
  border-radius: 25px;
  margin: 40px 0 40px 40px;
}

@media screen and (max-width: 1126px) {
  .header__inner{
    flex-direction: column;
  }
  .ava {
    max-width: 420px;
  }
}
@media screen and (max-width: 970px) {
  .content {
    flex-direction: column;
  }
  .ava {
    width: 80%;
    align-self: center;
    margin: 40px 40px 0 40px;
  }
}