html {
  background: #07051B url(images/bg.jpg)  no-repeat center center;
  min-height: 100%;
	background-size: cover;
}

body {
  margin: 0;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  color:#fff;
  font-family: 'Press Start 2P';
  font-size: 40px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  width: 100%;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.stick {
  color: #ffffff; 
  font-size: 70px;
}

.nav {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.nav__link {
  margin: 0 20px;
  color: #ffffff;
  font-family: 'Press Start 2P', cursive;
  text-decoration: none;
  opacity: 0.8;
  transition: opacity 0.2s linear;
}

.nav__link:hover {
  opacity: 1;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  background-color: rgb(22, 31, 104, 0.75); 
  margin: 0;
  border-radius: 25px;
}

.title_jr {
  font-size: 24px;
  font-family: 'Press Start 2P', cursive;
  align-self: center;
}

.info {
  display: flex;
  flex-direction: column;
  margin: 40px;
  width: 100%;
  max-width: 93%;
  text-align: left;
  max-height: 80%;
  color:#fff;
  line-height: 1.3;
  font-family: 'Podkova', serif;
  font-size: 32px;
}

.ava {
  align-self: flex-start;
  max-height: 370px;
  height: 100%;
  border-radius: 25px;
  margin: 40px 0 40px 40px;
}

.achi { 
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  background-color: rgb(22, 31, 104, 0.75); 
  margin: 30px 0;
  border-radius: 25px;
}

.info_jr {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  margin: 30px 20px;
  color:#fff;
  line-height: 1.3;
  font-family: 'Podkova', serif;
  font-size: 32px;
}

.list {
  margin: 0;
  padding: 0 20px;
}

@media only screen and (max-width: 1153px) {
  .header__inner, .content {
    flex-direction: column;
  }
  .ava {
    width: 80%;
    max-width: 420px;
    align-self: center;
    margin: 30px 30px 0 30px;
  }
  .nav__link {
    max-width: 140px;
  }
}
@media only screen and (max-width: 970px) {
  .achi {
    flex-direction: column;
  }
  .info {
    width: 90%;
    align-self: center;
  }
  .info_jr {
    max-width: 95%;
  }
}
@media only screen and (max-width: 426px){
  .title {
    font-size: 35px;
  }
  .title_jr {
    font-size: 16px;
  }
  .icon {
    width: 42px;
    height: 42px;
  }
  .stick {
    font-size: 60px;
    font-weight: bold;
  }
  .nav {
    max-width: 288px;
    font-size: 14px;
  }
  .nav__link {
    margin: 5px;
  }
  .info {
    width: 80%;
    font-size: 20px;
  }
  .info_jr {
    margin: 30px 0;
    font-size: 20px;
  }
}